process {
    //the executor, visit the nextflow website for more info
    executor = {executor}
    cpus = 1
    time = "1d"
    
    clusterOptions = {
        //your acount, you need not change this if you use local executor
        '-A {account}'
    }
}

params {
    //the output directory
    working_dir={working_dir}
    
    
    //----TIDDIT----------
    //the path of the TIDDIT excutable file
    TIDDIT_path={TIDDIT_path}
    //minimum number of discordant pairs for calling a variant
    TIDDIT_pairs=8
    //lowest mapping quality of a discordant pair
    TIDDIT_q=10
    //reference fasta file, needs to be indexed using bwa
    reference_fasta={REFERENCE_FASTA}
    //assemblatron is an assembly pipeline for filtering TIDDIT output
    //assemblatron will not work properly on low coverage samples(< 20X)
    //turn it on by setting the assemblatron parameter to anything but ""
    assemblatron=""
    
    //---------CNVnator--------
    //path to the cnvnator executable
    CNVnator_path={CNVnator_path}
    //path to the thisroot.sh script, you will find it in the bin directory of the compiled root library
    //skip this variable if rootsys already is added to path
    thisroot_path={thisroot_path}
    //path to the folder containing reference fasta files split per chromosmoe
    CNVnator_reference_dir_path={CNVnator_reference_dir_path}
    //the path to the cnvnator2vcf script
    CNVnator2vcf_path={CNVnator2vcf_path}
    //bin size of cnvnator, generally, small bin size leads to high sensitivity and worse precision, and the other way around
    CNVnator_bin_size='1000'
    
    //-----internal----------
    //contig sort path, this script i located in the FindSV internal_scripts folder
    contig_sort_path={contig_sort_path}
    clear_vep_path={clear_vep_path}
    cleanVCF_path={cleanVCF_path}
    the_annotator_path={the_annotator_path}
    gene_keys_dir_path={gene_keys_dir_path}
    frequency_filter_path={frequency_filter_path}
    FindSV_home={FindSV_home_path}

    //-----VEP_-------------
    //path to the vep script
    VEP_path={VEP_path}
    
    //------SVDB---------
    //The path to the SVDB script
    SVDB_script_path={SVDB_script_path}
    //path to the vcf database of SVDB
    SVDB_path={SVDB_path}
    //overlap to consider two variants the same
    SVDB_overlap='0.6'
    //maximum distance between two breakpoints
    SVDB_distance='10000'
    //All variants above this frequencies will be cleared from the final output vcf
    SVDB_limit='0.1'
    
    //-------GENMOD------------
    //the path to the gnemod ini file
    
    genmod_rank_model_path={genmod_rank_model_path}
    
}
