process {
    //the executor, visit the nextflow website for more info
    executor = {executor}
    cpus = 1
    time = "1d"
    
    clusterOptions = {
        //your acount, you need not change this if you use local executor
        '-A {account}'
    }
}

params {
    //the output directory
    working_dir={working_dir}
    
    
    //----TIDDIT----------
    //minimum number of discordant pairs for calling a variant
    TIDDIT_pairs=6
    //lowest mapping quality of a discordant pair
    TIDDIT_q=10
    
    //---------CNVnator--------
    //path to the folder containing reference fasta files split per chromosmoe
    CNVnator_reference_dir_path={CNVnator_reference_dir_path}
    //bin size of cnvnator, generally, small bin size leads to high sensitivity and worse precision, and the other way around
    CNVnator_bin_size='1000'

    //--------manta--------
    configManta={configManta}
    RunManta="FALSE"

    //-----internal----------
    //contig sort path, this script i located in the FindSV internal_scripts folder
    contig_sort_path={contig_sort_path}
    clear_vep_path={clear_vep_path}
    cleanVCF_path={cleanVCF_path}
    the_annotator_path={the_annotator_path}
    gene_keys_dir_path={gene_keys_dir_path}
    frequency_filter_path={frequency_filter_path}
    FindSV_home={FindSV_home_path}

    //----------reference--------
    //path to reference fasta file, indexed using bwa, and samtools 0.19
    genome={genome}

    //-----VEP_-------------
    //path to the vep script
    VEP_path={VEP_path}
    vep_args="--cache --force_overwrite --buffer_size 5 --port 3337 --vcf --per_gene --format vcf -q"
    
    //------SVDB---------
    //The path to the SVDB script
    SVDB_script_path={SVDB_script_path}
    //path to the sqlite database of SVDB
    SVDB_path={SVDB_path}

    //vcf files containing known pathogenic/benign variants
    pathogenic_db_path={pathogenic_db_path}
    pathogenic_db_overlap="0.6"
    pathogenic_db_distance="50000"
    benign_db_path={benign_db_path}
    benign_db_overlap="0.6"
    benign_db_distance="50000"

    //overlap to consider two variants the same
    SVDB_overlap='0.6'
    //maximum distance between two breakpoints
    SVDB_distance='10000'
    //All variants above this frequencies will be cleared from the final output vcf
    SVDB_limit='0.1'
    
    //-------GENMOD------------
    //the path to the gnemod ini file
    
    genmod_rank_model_path={genmod_rank_model_path}
    
}

trace {
    fields = 'task_id,hash,name,status,tag'
}
